version: '3'

services:

  pensieve:
    container_name: pensieve
    build: .
    volumes:
      - './:/app'
    ports:
      - 3000:3000
    stdin_open: true
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: npm start